force-app/main/default/flows/summit_Campaign_Flow_Recipe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Contact_ID_Assignment</name>
        <label>Contact ID Assignment</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Campaign_ID_Event</name>
        <label>Get Campaign ID (Event)</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CampaignID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.summit__Event__r.Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Campaign_ID_Instance</name>
        <label>Get Campaign ID (Instance)</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CampaignID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.summit__Event_Instance__r.Campaign_Override__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_ID_Assignment</name>
        <label>Lead ID Assignment</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>LeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.summit__Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Event_or_Instance</name>
        <label>Campaign Event or Instance</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_ID_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign (Event)</defaultConnectorLabel>
        <rules>
            <name>No_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Event_Instance__r.Campaign_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Campaign</label>
        </rules>
        <rules>
            <name>Campaign_Override_Instance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Event_Instance__r.Campaign_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_ID_Instance</targetReference>
            </connector>
            <label>Campaign Override (Instance)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Existing_Campaign_Member</name>
        <label>Check for Existing Campaign Member</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Campaign Member</defaultConnectorLabel>
        <rules>
            <name>Existing_Campaign_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_Status</targetReference>
            </connector>
            <label>Existing Campaign Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Contact_ID_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>No_Lead_or_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Lead or Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_ID_Assignment</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>summit_Campaign_Flow_Recipe {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>summit_Campaign_Flow_Recipe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Member_Record</name>
        <label>Get Campaign Member Record</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Campaign_Member</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member_Status</name>
        <label>Update Campaign Member Status</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign_Event_or_Instance</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>summit__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>summit__Summit_Events_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
